@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+10&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(snake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content:right;
    align-items:flex-start;

}

#score{
    position: absolute;
    top: 29px;
    right: 700px;
    font-size: 40px;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#board{
    background: linear-gradient(rgb(215, 218, 215),rgb(238, 238, 146));
    width: 90vmin;
    height: 90vmin;
    margin-left: 10vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
}

.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    border-radius: 8px;
    transform: scale(1.02);
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;


}